/* This is the slider */
input, label {
  width: 60%; 
  display: block;
  /* justify-content: center; */
}

#areaOutput {
  font-size: 30px;
  padding: 20px;
}

#areaBox {
  border: solid 2px black;
  width: 10px;
  height: 10px;
  margin: 0 auto;
}