/* ****************** */
/* GLOBAL */
/* ****************** */

/* Color picker */
#Home {
  background-color: #201724;
}

#Contact {
  background-color: #C1CBC0;
}

#Contact-Form{
  background-color: aqua;
}

#Contact-Info{
  background-color: slateblue;
}

#Estimate {
  background-color: #3D1322;
}  

#Estimate-Controls{
  background-color: rgb(22, 182, 43);
}

#Estimate-Sketch{
  background-color: rgb(173, 118, 138);
}

#Testimonials {
  background-color: #C1CBC0;
}

#Frame{
  background-color: black;
}

#Projects-Bar{
  background-color: yellow;
}

/* Start globals */

html {
  overflow: hidden;
  height: 100%;
}

header,
ul {
  padding: 0px;
  margin: 0px;
}

h1 {
  padding: 5px;
  margin: 0px;
  font-size: 30pt;
}

h2{
  font-size: 30pt;
}

body {
  padding: 0px;
  margin: 0px;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80vh auto;
  grid-template-areas: 
    /* "nav" */
    "home"
    "cont"
    "esti"
    "test";
  overflow: auto;
}

#Navbar {
  grid-area: nav;
}

#Home{
  grid-area: home;
}

#Contact{
  grid-area: cont;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "a b";
}

#Contact-Form{
  grid-area: a;
}

#Contact-Info{
  grid-area: b;
}

#Estimate{
  grid-area: esti;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "c d";
}

#Estimate-Controls{
  grid-area: c;
}

#Estimate-Sketch{
  grid-area: d;
}

#Testimonials{
  grid-area: test;

  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas: 
    "f f f"  
    "e e e";
  }
  
#Frame{
  /* height: 80%; */
  grid-area: f;
}

#Projects-Bar{
  /* height: 20%; */
  grid-area: e;
}







/* ****************** */
/* Body */
/* ****************** */

/* #Home, #Contact, #Estimate, #Testimonials {
  position: relative;
  text-align: center;
  height: 99vh;
} */

/* ****************** */
/* Home */
/* ****************** */

video {
  align-content: left;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: inherit;
}

/* ****************** */
/* Contact */
/* ****************** */

/* #contactInfo {
  float: left;
  text-align: center;
  padding: 0px;
  margin: 0px;
  width: 50%;
}

.contactBox {
  width: 25%;
  height: 120px;
  background: white;
  border-radius: 15px;
} */

span {
  display: inline-block;
}

/* ****************** */
/* Estimate */
/* ****************** */


/* #inputBox {
  float: left;
  height: inherit;
  width: 50%;
}

#outputBox {
  float: right;
  height: inherit;
  text-align: center;
  width: 50%;
} */

/* colors 
yellow #BDB964
light cherry #7C1C23
dark cherry #3D1322
dark blue #317380
light blue #8FC4C6
off white #E2D8CE

blue
#668894
blackish
#201724
dark purple
#3D2340
pinkish
#885570
pink white
#B1A2A1
off white 
#C1CBC0
*/
